<?php
    $form = \form\Form::form();
?>
<div class="row">
    <div class="col-xs-12 col-xs-12">
        <div class="widget radius-bordered">
            <div class="widget-header bg-blue">
                <i class="widget-icon fa fa-arrow-down"></i>
                <span class="widget-caption">名称</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="form-title">
                    <a href="/dlc/ad/index" class="btn btn-primary" data-loader="App-loader" data-loadername="列表">
                        <i class="fa fa-mail-reply"></i>返回
                    </a>
                </div>
                
                <form id="AppForm" action="" method="post" class="form-horizontal" data-bv-message="" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    	<div class='form-group'>
							<label class='col-lg-2 control-label'>类型<sup></sup></label>
							<div class='col-lg-4'>
								<?= $form->select('type', $type , $model->type, ['class' => 'form-control']) ?>
							</div>
						</div>
						<div class='form-group'>
							<label class='col-lg-2 control-label'>上传文件<sup></sup></label>

							<div class='col-lg-4'>
<input type='text' class='form-control' name='url' value='{$model->url}'>
                            <div class='wu-example uploader'>
                                <div  class='uploader-list'></div>
                                <div class='btns'>
                                    <div id='url' class='picker'>选择文件</div>
                                </div>
                            </div>
							</div>
                            <a href="{$model->url}" target="_blank" id="showfile_url" >预览文件</a>
						</div>

                        <div class='form-group'>
                            <label class='col-lg-2 control-label'>代理<sup></sup></label>
                            <div class='col-lg-4'>
                        <?= $form->select('agent_id', $agent, $model->agent_id,['class'=>'form-control dept_select','id' => '$model->agent_id' , 'data-placeholder' => '代理']) ?>
                            </div>
                        </div>

                        <div class='form-group area' style="display: none;" >
                            <label class='col-lg-2 control-label'>场地<sup></sup></label>
                            <div class='col-lg-4 area_content'>
                                {$areaHtml}
                            </div>

                        </div>

                    <div class='form-group device' style="display: none;">
                        <label class='col-lg-2 control-label'>设备<sup></sup></label>
                        <div class='col-lg-4 device_content'>
                            {$deviceHtml}
                        </div>
                    </div>
						<div class='form-group'>
							<label class='col-lg-2 control-label'>状态<sup></sup></label>
							<div class='col-lg-4'>
                                <?= $form->select('status', $status , $model->status, ['class' => 'form-control']) ?>
							</div>
						</div>
                        <div class='form-group'>
                            <label class='col-lg-2 control-label'>广告显示时间<sup></sup></label>
                            <div class='col-lg-4'>
                                <?= $form->text('show_time', $model->show_time,['class'=>'form-control']) ?>
                            </div>
                        </div>
						<div class='form-group'>
							<label class='col-lg-2 control-label'>开始时间<sup></sup></label>
							<div class='col-lg-4'>
                            <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input class="form-control pull-right" name="start_time" value="{$model.start_time}" data-bv-field="expire_time" type="date"><i style="display: none;" class="form-control-feedback" data-bv-field="expire_time"></i>
                                </div>
							</div>
						</div>
						<div class='form-group'>
							<label class='col-lg-2 control-label'>结束时间<sup></sup></label>
							<div class='col-lg-4'>
                            <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input class="form-control pull-right" name="end_time" value="{$model.end_time}" data-bv-field="expire_time" type="date"><i style="display: none;" class="form-control-feedback" data-bv-field="expire_time"></i>
                                </div>
							</div>
						</div>
					
                    
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-4">
                            <button class="btn btn-primary btn-lg" type="submit">保存</button>&nbsp;&nbsp;
                            <button class="btn btn-palegreen btn-lg" type="reset">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("[name='agent_id']").bind("change",function(){
        $('.device').hide();
        var agent_id = $(this).val();
        var url = "/dlc/area/getAreaListByAgentId?agentId="+agent_id;
        $.post(url,'',function(rd){
            $(".area_content").html(rd.content);
            if( rd.content ){
                $('.area').show();
            }
        })
    });

    $(".area_content").click(function(){
        var checkID = [];//定义一个空数组
        $("input[name='area_id[]']:checked").each(function(i){
            checkID[i] =$(this).val();
        });
        var url = "/dlc/ad/getDeviceListByareaIds?areaIds="+checkID;
        $.post(url,'',function(rd){
            $(".device_content").html(rd.content);
            if( rd.content ){
                $('.device').show();
            }
        })
        //console.log(checkID);
    });


    var editer = [];
    
    $('#AppForm').bootstrapValidator({
        submitHandler: function (validator, form, submitButton) {
            var tourl = "{:url('/dlc/ad/' . (isset($model) ? 'edit?id='.$model->ad_id : 'add') )}";
            
            for(var i in editer) {
                editer[i].sync();
            }
            
            var data = $('#AppForm').serialize();
            $.App.ajax('post', tourl, data, null);
            $("button[type='submit']").attr("disabled", false);
            return false;
        }
    });
    
    $(".editer").each(function(){
        var id = $(this).attr('id');
        editer.push(Kediter.create('#'+id,{
            uploadJson : '/dlc/upload/kindEditor',
            fileManagerJson : '/dlc/upload/kindEditorFileManager',
            allowFileManager : true
        }));
    });
    
    $('.dept_select').chosen(); //下拉搜索框
    
    
    //文件上传
    $(".picker").each(function(){
        var upid = $(this).attr('id');
        var uploader = WebUploader.create({

            auto: true,
            // swf文件路径
            swf: '/public/static/webuploader/Uploader.swf',

            // 文件接收服务端。
            server: '/dlc/upload/file',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#' + upid,

            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false,
        });

        uploader.on('uploadSuccess', function (file,data) {
            if(data.code == 1) {
                $('input[name="'+upid+'"').val(data.data);
                $("#showfile_" + upid).attr('href', data.data);
            } else {
                layer.msg(data.msg);
            }
        });
    });
        
</script>