<?php
    use \app\common\tool\Power;
?>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bg-blue">
                <i class="widget-icon fa fa-arrow-down"></i>
                <span class="widget-caption">列表</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <?php if(Power::check('mcoupon/add')): ?>
                    <a href="/dlc/mcoupon/add" class="btn btn-info" data-loader="App-loader" data-loadername="添加">
                        <i></i>添加
                    </a>
                    <?php endif;?>
                    
                    {if condition="$hasExport"}
                    <a href="" target="_blank" class="btn btn-info" id="export" data-loadername="导出">
                        <i></i>导出
                    </a>
                    {/if}

                    <!--搜索-->
                    <div class="pull-right">
                        <form id="App-search">
                            {$searchHtml}
                            <a href="{:url('/dlc/mcoupon/index')}" class="btn btn-success" data-loader="App-loader" data-loadername="列表" data-search="App-search">
                                <i class="fa fa-search"></i>搜索
                            </a>
                        </form>
                    </div>
                </div>

                <!--数据列表-->
                <table id="App-table" class="table table-bordered table-hover">
                    <thead class="bordered-darkorange">
                    <tr role="row">
                        <th>id</th>

						<th>持有类型</th>

                        <th>电子优惠券</th>

                        <th>所属商户</th>

						<th>优惠券价值(元)</th>

						<th>实售金额(元)</th>

                        <th>库存(张)</th>

						<th>截止时间</th>

						<th>创建时间</th>

                        <th>是否有效</th>
						
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php $time = time(); ?>
                    {volist name="list" id="vo"}
                    <tr>

                        <td>{$vo['coupon_id']}</td>

						<td>{$type[$vo['type']]}</td>

                        <td><img style="width: 60px" src="{$vo['coupon']}"></td>

                        <td>{$vo['merchant']['name']}</td>

						<td>{$vo['worth']}</td>

						<td>{$vo['cash']}</td>

                        <td>{$vo['total']}</td>

						<td>{$vo['due_time']}</td>

                        <td>{$vo['ctime']}</td>

                        <td>{if condition="$time > $vo->getData('due_time')"}否{else}是{/if}</td>

                        <td>
                            <?php if(Power::check('mcoupon/edit')): ?>
                                <a href="{:url('/dlc/mcoupon/edit',['id'=>$vo['coupon_id']])}" class="btn btn-success btn-xs" data-loader="App-loader" data-loadername="编辑"><i class="fa fa-edit"></i> 编辑</a> &nbsp;&nbsp;&nbsp;&nbsp;
                            <?php endif;?>


                            <?php if(Power::check('mcoupon/del')): ?>
                                <a href="{:url('/dlc/mcoupon/del')}" class="btn btn-danger btn-xs" data-type = "del" data-ajax="{:url('/dlc/mcoupon/del',array('id'=>$vo['coupon_id']))}"><i class="fa fa-trash-o"></i> 删除</a> &nbsp;&nbsp;&nbsp;&nbsp;
                            <?php endif;?>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="row DTTTFooter">
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        //导出EXCEL
        $("#export").attr('href', "{:url('/dlc/mcoupon/index')}?export=1&" + $('#App-search').serialize())
    })
</script>
