<?php
    use \app\common\tool\Power;
?>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bg-blue">
                <i class="widget-icon fa fa-arrow-down"></i>
                <span class="widget-caption">列表</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <?php if(Power::check('user/add')): ?>
                    <a href="/dlc/user/add" class="btn btn-info" data-loader="App-loader" data-loadername="添加">
                        <i></i>添加
                    </a>
                    <?php endif;?>
                    
                    {if condition="$hasExport"}
                    <a href="" target="_blank" class="btn btn-info" id="export" data-loadername="导出">
                        <i></i>导出
                    </a>
                    {/if}

                    <!--搜索-->
                    <div class="pull-right">
                        <form id="App-search">
                            {$searchHtml}
                            <a href="{:url('/dlc/user/index')}" class="btn btn-success" data-loader="App-loader" data-loadername="列表" data-search="App-search">
                                <i class="fa fa-search"></i>搜索
                            </a>
                        </form>
                    </div>
                </div>

                <!--数据列表-->
                <table id="App-table" class="table table-bordered table-hover">
                    <thead class="bordered-darkorange">
                    <tr role="row">
                        <th>用户ID</th>

						<th>呢称</th>

                        <th>性别</th>

						<th>头像</th>

                        <th>手机号码</th>

						<th>注册时间</th>

                        <th>更新时间</th>
						
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="vo"}
                    <tr>

                        <td>{$vo['merchant_user_id']}</td>

						<td>{$vo['nickname']}</td>

                        <td>{$sex[$vo['sex']]}</td>

						<td><img src="{$vo['head_img']}" style="max-height: 60px;" /></td>

                        <td>{$vo['mobile']}</td>

						<td>{$vo['ctime']}</td>

                        <td>{$vo['utime']}</td>

                        <td>
                            <span data-href="{:url('/dlc/user_pressure_gold/index',['user_id'=>$vo['merchant_user_id'],'dialog'=>'1'])}" class="btn btn-success dialog"  data-loadername="押金列表"><i class="fa"></i> 领取记录</span> &nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="row DTTTFooter">
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        //导出EXCEL
        $("#export").attr('href', "{:url('/dlc/merchantuser/index')}?export=1&" + $('#App-search').serialize())
    })
</script>
